  $white-color: rgb(255, 255, 255);
  $light-white-color: rgb(230, 230, 230);
  $opacity-white-color: rgba(255, 255, 255, 0.7);

  $black-color: rgb(0, 0, 0);
  $light-black-color: rgb(35, 35, 35);

  $light-gray-color: rgb(100, 100, 100);
  $dark-gary-color: rgb(70, 70, 70);

  $dark-blue-color: rgb(6, 84, 240);
  $blue-color: rgb(22, 94, 239);
  $middle-blue-color: rgb(65 128 255);
  $light-blue-color: rgb(230, 238, 255);


  $complete-width: 100%;

  $text-align-center: center;

  $too-min-margin-top: 0.5rem;
  $min-margin-top: 1rem;
  $middle-margin-top: 1.5rem;
  $max-margin-top: 2rem;
  $too-max-margin-top: 3rem;
  $min-margin-bottom: 1rem;
  $middle-margin-bottom: 1.5rem;
  $max-margin-bottom: 2rem;

  $sections-padding: 5rem;

  $min-font-size: 1rem;
  $middle-font-size: 1.2rem;
  $max-font-size: 1.5rem;

  $line-height-text: 1.5;

  $min-font-weight: 600;
  $max-font-weight: 700;

  $opacity-button-color: 0.8;

  $min-border-radius: 5px;
  $max-border-radius: 10px;
  $fifty-border-radius: 50%;

  $main-border: 1px solid #b0b0b0;
  $none-border: none;